{% extends "saldo_document.html" %}
{% block content %}
<center>
    <h1>segment: {{ segment }}</h1>
    <p><a href="http://spraakbanken.gu.se/ws/saldo-ws/sms/html/{{ segment }}">sammansättningsanalys</a></p>
    <table border="1">
        {% if j|length %}
        <tr>
            <th>gf</th>
            <th>id</th>
            <th>pos</th>
            <th>is</th>
            <th>msd</th>
            <th>p</th>
        </tr>
        {% for json in j %}
        <tr>
            <td>
                {% if json["id"].__class__.__name__ == 'list' %}
                {% for lid in json["id"] %}
                <a href="{{ url_for('lids:lid-html', lid=lid) }}">{{ lid }}</a>
                {% endfor %}
                {% else %}
                <a href="{{ url_for('lids:lid-html', lid=json['id'])}}">{{ json["id"] }}</a>
                {% endif %}
            </td>
            <td>
                {% if json["fm"].__class__.__name__ == 'list' %}
                {% for lid in json["fm"] %}
                <a href="{{ url_for('lids:lid-html', lid=lid) }}">{{ lid }}</a>
                {% endfor %}
                {% else %}
                <a href="{{ url_for('lids:lid-html', lid=json['fm'])}}">{{ json["fm"] }}</a>
                {% endif %}
                {% if json["fp"] != "PRIM..1" %}
                +
                {% endif %}


        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>ordet saknas i lexikonet</td>
        </tr>
        {% endif %}
    </table>
</center>
{% endblock %}