{% extends "saldo_document.html" %}
{% block content %}
<center>
    <form action="{{ url_for('paradigms:para-html')}}" method="get" class="inputclass">
        <input type="search" id="search" class="inputclass" value="{{ input }}" name="segment" size="30"
            placeholder="Mata in kommaseparerade ordformer, där första ordet är en grundform försedd med ordklass."
            results="10" />
        <input type="submit" value="Sök" />
    </form>
    <p></p>
    {% if no_pos %}
    <p>Grundformen måste förses med ordklass (grundform:ordklass).</p>
    {% elif w|length == 0 %}
    <p>Mata in kommaseparerade ordformer, där första ordet är en grundform försedd med ordklass.</p>
    <p>Exempel: <a
            href="{{ url_for('paradigms:para-html').include_query_params(words='man%3Ann%2C%20m%C3%A4n') }}">man:nn,
            män</a></p>
    {% else %}
    {% if j|length %}
    <table>
        {% for p in j %}
        <tr>
            <td>
                <i><a href="{{ url_for('inflections:gen-html', paradigm=p, word=w)}}">{{ p }}</a></i>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b>Hittade inga paradigm.</b></p>
    {% endif %}
    {% endif %}
</center>
{% endblock %}